/* You can either copy the below and paste it between style tags on your HTML page, OR you can copy this to a file and name it .css and link it from your HTML page. */


:root {
  --bg-color:#d50b05; /* light green */
  --pg-color:#FDFFFC; /* very light green */
  --accent:#d50b05; /* dark green */
  --accent-2:#fb7763; /* gray */
  --text:#0C0C0C; /*black*/
  --body-bg-image: url('https://whiteheartrainbowsoul.neocities.org/lanzhu_images/lanzhubg.png');
}

*{
  box-sizing:border-box;
}

html, body {
  margin:0;
  font-family:sans-serif;
  font-size:0.85em;
  /* here is where you'd add a background image */
}
body {
  background-color:var(--bg-color);
  background-image:var(--body-bg-image);
  background-repeat:repeat;
  background-size: 300px;
}
#container {
  background-color:var(--pg-color);
  width:60%;
  border-left:100px solid var(--accent);
  border-right:1px solid var(--accent-2);
  position:relative;
  color:var(--text);
}
#outer {
  border-left:2px solid var(--accent-2);
  margin-left:100px;
}
nav {
  background-color:var(--accent);
  position:absolute;
  top:100px;
  left:50px;
  border:1px solid var(--bg-color);
  width:120px;
  height:200px;
  z-index:9;
}
article { 
padding:50px;
  line-height:1.7em;
  
}
h2 {
  font-size:15px;
  border-bottom:1px solid var(--accent-2);
  padding-bottom:8px;
}
nav > ul {
  background-color:var(--accent-2);
  margin:20px;
  padding:0;
  list-style:none;
}
nav > ul > li {
  border-bottom:1px solid white;
  text-align:center;
}
nav > ul > li:last-child {
  border-bottom:none;
  text-align:center;
}
nav > ul > li > a {
  font-size:12px;
  padding-top:5px;
  padding-bottom:5px;
  display:inline-block;
  color:white;
}
 @media only screen and (max-width: 850px) {
   nav {
     left:0;
   }
   #container {
     width:100%;
     margin-left:0;
   }
   #outer {
     margin-left:0;
   }
}